{% extends 'base.html' %}
{% block title %}
<title> {{title}}| Pokemon World</title>
{% endblock %}
{% block content %}
  {% for pokemon in pokemons %}
  <img src="{{ pokemon.img }}" alt="{{pokemon.name}}'s" width="100" height="100">
  <form action="{% url 'capture_pokemon' pokemon.id %}" method="POST">
      {% csrf_token %}
      <table>
          #{{pokemon.id}} {{pokemon.name}}
      </table>
      <input type="hidden" name="pokemon_id" value="{{ pokemon.id }}">
      <input type="submit" value="Caputed" class="btn green" />
    </form>
  {% endfor %}

{% endblock %}