{% extends 'base.html' %}
{% block title %}
<title>{{pokemon.name}} | Pokemon World</title>
{% endblock %}

{% block content%}
<h1>{{pokemon.name}}</h1>

<div class="row">
    <div class="col s6">
        <img src="{{pokemon.img}}" alt="{{pokemon.name}}'s image" width="300" height="300">
        <p>Name: {{pokemon.name}}</p>
        <p>Level: {{pokemon.level}}</a>
          {% if pokemon.ready_to_level_up %}
          <form action="{% url 'pokemon_level_up' pokemon.id %}" method="post">
            {% csrf_token %}
            <span class="badge green">Ready to Level Up</span>
          <button type="submit">&uarr;Level Up</button>
      </form>
      {% endif %}
      {% if pokemon.is_leveled %}
      <span class="badge orange">Already Level Up today</span></p>
      {% endif %}
        
        <p>Owned By: {{ user }}</p>
        <p>Owned Since: {{pokemon.ownedat}}</p>
    </div>
    <div class="col s6">
      {% if not pokemon.isleveled %}
      <form action="{% url 'add_feeding' pokemon.id %}" method="POST">
        {% csrf_token %}
        {{ feeding_form.as_p }}
        <input type="submit" value="Add Feeding" class="btn red" />
    </form>   
    {% endif %} 
        <table class="striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Meal</th>
              </tr>
            </thead>
            <tbody>
              {% for feeding in pokemon.feeding_set.all %}
              <tr>
                <td>{{feeding.date}}</td>
                <td>{{feeding.get_meal_display}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
</div>
<h2>Evolution</h2>
<div class="row">
<div class="col s6">
  {% if pokemon.evolve_chains.min_level %}
        <p>Evolve to <span>{{pokemon.evolve_chains.evole_to}}</span> at LV: {{pokemon.evolve_chains.min_level}}</p>
        {% else %}
        <p>Evolve to <span>{{pokemon.evolve_chains.evole_to}}</span> by using {{pokemon.evolve_chains.item}}</p>
        {% if pokemon.ready_to_evolve %}
        <form action="{% url 'pokemon_evolve' pokemon.id %}" method="post">
          {% csrf_token %}
          <span class="badge green">Ready to Evolve</span>
        <button type="submit">Evolve</button> {% endif %}
        {% endif %}
</div></div>
<script>
  const dataPickerEl = document.getElementById("id_date");
  const fromSelectEl = document.getElementById("id_meal");
  M.Datepicker.init(dataPickerEl, {
    format: "yyyy-mm-dd",
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true,
  });
  M.FormSelect.init(fromSelectEl);
</script>
{% endblock %}