{% extends 'base.html' %}
{% block title %}
<title>{{title}} | Pokemon World</title>
{% endblock %}
{% block content %}
<body>
   <h1>Pockets(onlys 6 here)</h1>
   {% for pokemon in pokemons %}
    <div class="card">
        <div class="card-content">
            <a href="{% url 'pokemon_detail' pokemon.id %}">
                <img src="{{ pokemon.img }}" alt="{{pokemon.name}}'s" width="100" height="100">
            </a>
                <div class="card-title">
                <p>Name: {{ pokemon.name }} </p>
                <p>Level: {{ pokemon.level }}</p>   
          </div>
    </div>
</div>
    {% endfor %}
    <h1>Box</h1>
    <div class="card">
        Box(at most 30 pokemons here)
    </div>
</body>
{% endblock %}